{% extends 'base.html' %}

{% block title %} | Home {% endblock %}
{% block content %}

{% load humanize %}
{% load static %}
<!-- Banner start -->
 
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-6.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                
                    <h3>Ride in Class and style</h3>
                    <h5>Experience the joy of driving with Galleria Motors today,<br>
                        where your automotive dreams become a reality.</h5>
                    <a href="{% url 'about' %}" class="btn btn-lg btn-theme">Read More</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-7.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Fuel for Soul</h3>
                    <h5>Our team of passionate and knowledgeable experts is committed to guiding you<br>
                        through the car-buying process, ensuring you find the perfect match <br>
                        that fits your lifestyle and budget.</h5>
                    <a href="{% url 'about' %}" class="btn btn-lg btn-theme">Read More</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/carslider2.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Car for Everyone</h3>
                    <h5>With a wide selection of top-quality vehicles,<br>
                        from family-friendly SUVs to high-performance luxury cars,<br>
                         our inventory is sure to have your dream car waiting for you.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read More</a>
                </div>
            </div>
        </div>
        
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
		 
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Featured <span>Cars</span></h1>
            <p>Amongst many of our available cars, here are some few picks that you might have an interest in.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
              {% for car in featured_cars %}
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="{% url 'car_detail' car.id %}" class="car-img">
                                <div class="tag-2">Featured</div>
                                <div class="price-box">
                                    <span>Ksh.{{car.price | intcomma}}</span>
                                </div>
                                <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{{car.car_photo.url}}" class="overlap-btn">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{{car.car_photo.url}}">
                                            </a>
                                            {% if car.car_photo_1 %}
                                            <a href="{{car.car_photo_1.url}}" class="hidden">
                                                <img class="hidden" src="{{car.car_photo_1.url}}">
                                            </a>
                                            {% endif %}
                                            {% if car.car_photo_2 %}
                                            <a href="{{car.car_photo_2.url}}" class="hidden">
                                                <img class="hidden" src="{{car.car_photo_2.url}}">
                                            </a>
                                            {% endif %}
                                            {% if car.car_photo_3 %}
                                            <a href="{{car.car_photo_3.url}}" class="hidden">
                                                <img class="hidden" src="{{car.car_photo_3.url}}">
                                            </a>
                                            {% endif %}
                                            {% if car.car_photo_4 %}
                                            <a href="{{car.car_photo_4.url}}" class="hidden">
                                                <img class="hidden" src="{{car.car_photo_4.url}}">
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						<a href="{% url 'car_detail' car.id %}">
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'car_detail' car.id %}">{{ car.car_title }}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'car_detail' car.id %}">
                                        <i class="flaticon-pin"></i>{{car.county}}, {{car.city}}
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>{{car.fuel_type}}</li>
                                    <li>{{car.milage | intcomma}} kms</li>
                                    <li>{{car.transmission}}</li>
                                    <li>{{car.body_style}}</li>
                                    <li>{{car.color}}</li>
                                    <li>{{car.year}}</li>
                                </ul>
                            </div>
                        </a>
                           
                    </div>
                </div>
            {% endfor %}

            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Latest <span>Cars</span></h1>
            <p></p>
        </div>
        <div class="row">
          {% for car in all_cars %}
            <div class="col-sm-4 col-sm-4">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'car_detail' car.id %}" class="car-img">
                            <div class="tag">For Sale</div>
                            <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-way"></i></span>{{car.milage | intcomma}} kms
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{{car.year}}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>{{car.transmission}}
                                    </li>
                                </ul>
                            </div>
                        </a>
						
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{car.car_photo.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{car.car_photo.url}}">
                                        </a>
                                        {% if car.car_photo_1 %}
                                        <a href="{{car.car_photo_1.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_1.url}}">
                                        </a>
                                        {% endif %}
                                        {% if car.car_photo_2 %}
                                        <a href="{{car.car_photo_2.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_2.url}}">
                                        </a>
                                        {% endif %}
                                        {% if car.car_photo_3 %}
                                        <a href="{{car.car_photo_3.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_3.url}}">
                                        </a>
                                        {% endif %}
                                        {% if car.car_photo_4 %}
                                        <a href="{{car.car_photo_4.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_4.url}}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'car_detail' car.id %}">
                        <div class="detail">
                            <h1 class="title">{{car.car_title}}</h1>
                            <div class="location" style="display:flex; flex-direction:row; align-items: center; justify-content: space-between;">
                                <i class="flaticon-pin"></i>{{car.county}}, {{car.city}}
                                <div style="display: flex; align-items: center; gap: 2; font-size: 20px; justify-content: space-between;">
                                    <a href="https://wa.me/+254713257066?text=I'm%20interested%20in%20the%20car%20I%20viewed%20on%20your%20website." target="_blank" style="text-decoration: none; color: white;">
                                        <i class="fa-brands fa-whatsapp" style="background: rgba(3, 185, 3, 0.63); margin-right: 4px; border-radius: 50%; padding: 6px; border-color: white; text-decoration-color: white; font-size: 20px; cursor: pointer;"></i>
                                    </a>
                                    <a href="tel:+254713257066" style="text-decoration: none; color: white;">
                                        <i class="fa-solid fa-phone" style="background: rgba(223, 16, 16, 0.808); border-radius: 80%; padding: 6px; border-color: white; text-decoration-color: white; font-size: 20px; cursor: pointer;"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="footer clearfix">
                                <div class="pull-left ratings days">
                                    <p class="cartype">{{car.body_style}}</p>
                                </div>
                                <div class="pull-right">
                                    <p class="price">Ksh. {{car.price | intcomma}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
			 
          {% endfor %}

        </div>
    </div>
</div>
<!-- Rent car end -->
<br>
<div class="main-title text-center">
    <h1>Locate <span>Us</span></h1>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p> -->


<div class="container">
    <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7241155376078!2d36.76038265228272!3d-1.3419004698544879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1b3ac4b5128d%3A0x45b18266e0d88479!2sGalleria%20Motors!5e0!3m2!1sen!2ske!4v1701766466719!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>


{% endblock %}
